.header {
    width: 100%;
    padding-top: 34px;
    display: flex;
    justify-content: center;
}

.header__logo {
    width: 254.84px;
    height: 68.94px;
}
@media screen and (max-width: 1024px) {
    .header__logo {
      margin-top: 30px;
    }
  }
  
  @media screen and (max-width: 544px) {
    .header__logo {
      margin-top: 20px;
      width: 58.75%;
    }
  }
  
@media (max-width: 320px) {
    .header__logo {
        width:188px;
    }
}